<div class="dashboard">
  <div
    class="block block--experiment dashboard__block"
    [routerLink]="'/experiment'"
    [routerLinkActive]="'active'"
  >
    <span class="block__content">Просмотреть результаты эксперимента</span>
  </div>
  <div
    class="block block--recommendations dashboard__block"
    [routerLink]="'/recommendations'"
    [routerLinkActive]="'active'"
  >
    <span class="block__content">Рассчитать рекомендации для пользователя</span>
  </div>
</div>
