.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 15%;

  &__block {
    flex: 0 0 25%;
  }
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #a9a9a920;
  border-radius: 2px;
  margin-right: 5em;
  font-size: 20px;
  cursor: pointer;

  &__content {
    padding: 50px;
  }

  &--experiment {
    background-color: #8500ff20;
  }

  &--recommendations {
    background-color: darkseagreen;
  }
}
