@font-face {
  font-family: 'PTRootUI-Medium';
  src: url('PT_Root_UI_Medium.eot');
  src: url('PT_Root_UI_Medium.eot?#iefix') format('embedded-opentype'),
    url('PT_Root_UI_Medium.woff2') format('woff2'),
    url('PT_Root_UI_Medium.woff') format('woff'),
    url('PT_Root_UI_Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTRootUI-Regular';
  src: url('PT_Root_UI_Regular.eot');
  src: url('PT_Root_UI_Regular.eot?#iefix') format('embedded-opentype'),
    url('PT_Root_UI_Regular.woff2') format('woff2'),
    url('PT_Root_UI_Regular.woff') format('woff'),
    url('PT_Root_UI_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTRootUI-Bold';
  src: url('PT_Root_UI_Bold.eot');
  src: url('PT_Root_UI_Bold.eot?#iefix') format('embedded-opentype'),
    url('PT_Root_UI_Bold.woff2') format('woff2'),
    url('PT_Root_UI_Bold.woff') format('woff'),
    url('PT_Root_UI_Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
