<div class="experiment-info-container" fxLayout="row">
  <div class="card experiment-info-container__card">
    <span class="title card__content">{{ title }}</span>
  </div>

  <div
    *ngFor="let property of info | properties"
    class="card experiment-info-container__card"
  >
    <span class="card__content"
      >{{ values[property] + ': '
      }}<span class="card--value">{{ info[property] }}</span></span
    >
  </div>
</div>
