.experiment-info-container {
  justify-content: space-between;
}

.title {
  font-family: PTRootUI-Medium, sans-serif;
  background-color: #feffa2b0 !important;
}

.card {
  display: flex;
  flex-direction: column;

  &__content {
    align-self: flex-start;
    background-color: #a9a9a920;
    word-break: break-word;
    padding: 15px 15px;
    border-radius: 2px;
  }

  &--value {
    font-family: PTRootUI-Medium, sans-serif;
  }
}
