.method {
  &__info {
    margin-bottom: 15px;
  }

  &__charts {
    margin-bottom: 35px;
  }
}

.charts {
  justify-content: space-between;
}

.loading {
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.chart {
  &__title {
    &--medium {
      font-family: PTRootUI-Medium, sans-serif;
    }
  }
}
