<div class="experiment-container">
  <div class="method experiment-container__method">
    <ng-container *ngIf="loadingSgd$ | async">
      <ng-container *ngTemplateOutlet="loadingTmpl"></ng-container>
    </ng-container>
    <ng-container *ngIf="experimentSgd$ | async as sgd">
      <div class="method__info">
        <app-experiment-info
          [info]="sgd.info"
          [title]="'SGD'"
        ></app-experiment-info>
      </div>
      <div class="charts method__charts" fxLayout="row">
        <div class="chart">
          <span class="chart__title"
            >RMSE для
            <span class="chart__title--medium">обучающих</span> данных</span
          >
          <app-chart [id]="'sgdTrain'" [setDataChart]="sgd.train"></app-chart>
        </div>
        <div class="chart">
          <span class="chart__title"
            >RMSE для
            <span class="chart__title--medium">тестовых</span> данных</span
          >
          <app-chart [id]="'sgdTest'" [setDataChart]="sgd.test"></app-chart>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="method experiment-container__method">
    <ng-container *ngIf="loadingAls$ | async">
      <ng-container *ngTemplateOutlet="loadingTmpl"></ng-container>
    </ng-container>

    <ng-container *ngIf="experimentAls$ | async as als">
      <div class="method__info">
        <app-experiment-info
          [info]="als.info"
          [title]="'ALS'"
        ></app-experiment-info>
      </div>
      <div class="charts method__charts" fxLayout="row">
        <div class="chart">
          <span class="chart__title"
            >RMSE для
            <span class="chart__title--medium">обучающих</span> данных</span
          >
          <app-chart [id]="'alsTrain'" [setDataChart]="als.train"></app-chart>
        </div>
        <div class="chart">
          <span class="chart__title"
            >RMSE для
            <span class="chart__title--medium">тестовых</span> данных</span
          >
          <app-chart [id]="'alsTest'" [setDataChart]="als.test"></app-chart>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #loadingTmpl>
  <div class="loading" fxLayout="row">Loading..</div>
</ng-template>
