.recommendations-container {
  &__method {
    margin-top: 10px;
    margin-bottom: 100px;
  }
}

.form {
  display: flex;

  &__field {
    margin-right: 2em;
    flex: 0 0 250px;
  }
}

.recommendations {
  display: flex;
  justify-content: space-between;
}

.method {
  &__title {
    margin-bottom: 15px;
  }
}

.button {
  &--calculate {
    height: 60px;
  }
}

.loading {
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.title {
  display: flex;
  flex-direction: column;

  &__content {
    align-self: flex-start;
    word-break: break-word;
    padding: 15px 15px;
    border-radius: 2px;
    font-family: PTRootUI-Medium, sans-serif;
    background-color: #feffa2b0 !important;
  }

  &--value {
    font-family: PTRootUI-Medium, sans-serif;
  }
}
