<div class="recommendations-container">
  <!--  TODO потом вынести в отдельный компонент-форму-->
  <form class="form recommendations-container__form">
    <mat-form-field class="form__field">
      <input
        matInput
        [placeholder]="'Идентификатор пользователя'"
        [(ngModel)]="userId"
        name="userId"
        #id
      />
    </mat-form-field>

    <mat-form-field class="form__field">
      <input
        matInput
        [placeholder]="'Количество рекомендаций'"
        [(ngModel)]="count"
        name="count"
        #countRec
      />
    </mat-form-field>

    <button
      class="button--calculate"
      mat-button
      (click)="getRecommendations(id.value, countRec.value)"
    >
      Рассчитать
    </button>
  </form>

  <div class="method recommendations-container__method">
    <ng-container *ngIf="loadingSgd$ | async">
      <ng-container *ngTemplateOutlet="loadingTmpl"></ng-container>
    </ng-container>

    <ng-container *ngIf="recommendationsSgd$ | async as recommendations">
      <div class="title method__title">
        <span class="title__content">SGD</span>
      </div>
      <div class="recommendations">
        <app-book-card
          *ngFor="let recommendation of recommendations"
          [book]="recommendation"
        ></app-book-card>
      </div>
    </ng-container>
  </div>

  <div class="method recommendations-container__method">
    <ng-container *ngIf="loadingAls$ | async">
      <ng-container *ngTemplateOutlet="loadingTmpl"></ng-container>
    </ng-container>

    <ng-container *ngIf="recommendationsAls$ | async as recommendations">
      <div class="title method__title">
        <span class="title__content">ALS</span>
      </div>
      <div class="recommendations">
        <app-book-card
          *ngFor="let recommendation of recommendations"
          [book]="recommendation"
        ></app-book-card>
      </div>
    </ng-container>
  </div>
</div>
<ng-template #loadingTmpl>
  <div class="loading" fxLayout="row">Loading..</div>
</ng-template>
