/* You can add global styles to this file, and also import other style files */

body {
  font-family: PTRootUI-Regular, sans-serif;
}

html,
body,
.layout {
  /*height: 100%;*/
}

.layout {
  margin: 30px 30px 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
