.book-card {
  width: 150px;
  height: 225px;
  font-family: 'PTRootUI-Regular', sans-serif;
}

.image {
  width: inherit;
  height: 225px;
  background-size: cover;
  background-position: center;
}

.description {
  &--rating {
    font-family: 'PTRootUI-Medium', sans-serif;
  }
}

.icon {
  &--star {
    top: 5px;
    left: 2px;
    position: relative;
    color: #ffd400;
  }
}
