<div class="book-card">
  <div
    class="image book-card__image"
    [ngStyle]="{ 'background-image': 'url(' + book.imageUrl + ')' }"
  ></div>
  <div class="book-card__description">
    Рейтинг: <span class="description--rating">{{ book.averageRating }}</span>
    <mat-icon class="icon--star">star</mat-icon>
  </div>
</div>
